@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --background: #fff;
    --focus: #ff5c5c;
    --chill: #7684ff;
}

html,
body {
    background: var(--background);
    height: 100%;
}

div {
    transition: 0.25s background;
}
